#navs{
    background-color: aquamarine;
}

.divPizza{
    background-color: blue;
    color: white;
}

#formulario{
    margin: 1rem;
    padding: 1rem;
    background-color: burlywood;
    color: black;
}